<% layout('layouts/boilerplate') %>
    <h1>Edit Campground</h1>
    <form action="/campgrounds/<%= campground._id %>?_method=PUT " method="POST">
        <div>
            <label for="">Title</label>
            <input type="text" name="campground[title]" id="title" value="<%= campground.title %>">
            <label for="">Location</label>
            <input type="text" name="campground[location]" id="location" value="<%= campground.location %>">
            <button>
                Edit Campground
            </button>
        </div>
    </form>

    <a href="/campgrounds/<%= campground._id %>">Go Back to the campground</a>