<% layout('layouts/boilerplate') %>
    <form action="/campgrounds" method="POST">
        <div>
            <label for="">Title</label>
            <input type="text" name="campground[title]" id="title">
            <label for="">Location</label>
            <input type="text" name="campground[location]" id="location">
            <button>
                Add Campground
            </button>
        </div>
    </form>

    <a href="/campgrounds">Go Back</a>